* {
  margin: 0;
}

@font-face {
  font-family: pixelated;
  src: url(pixeboy.ttf);
}

<<<<<<< HEAD
#color, #reset, #random {
=======
/* div, form {
  border: 1px solid blue;
} */

#color, #reset {
>>>>>>> db4a7ca6a3fe040b5e881b2b30ea0ad2f70fe015
  width: 100px;
  height: 32px;
}

form {
  display: flex;
  flex-direction: column;
}

body {
  text-align: center;
  background-color:#f6f1ef;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

header {
  background-color: rgb(63, 169, 207);
  font-family: pixelated;
  font-size: 2em;
  height: 10vh;
  line-height: 10vh;
}

footer {
  background-color: rgb(63, 169, 207);
  height: 5vh;
  line-height: 5vh;
}

#main {
  margin: 32px 0;
  height: 85vh;
  flex: 1;
  display: flex;
  justify-content: center;
}

#controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  flex: 0 0 auto;
}

/* #controls label,
#controls input,
#controls button {
  border: 1px solid green;
} */

#sketchpad {
  border: 2px solid red;
  width: 800px;
  height: 800px;
  margin: 0px 32px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
=======
  /* justify-content: space-between; */
>>>>>>> db4a7ca6a3fe040b5e881b2b30ea0ad2f70fe015
}

.row {
  display: flex;
  flex: 1 0 auto;
}
.cell {
  background-color:#ffffff;
  flex: 1 0 auto;
}
